@import '../../css.modules/zero-style/zero-style.scss';
@import '../../css.modules/modificators/modificators.scss';
@import '../../css.modules/main-colors/main-colors.scss';
@import '../../css.modules/header/header.scss';
@import '../../css.modules/fonts/fonts.scss';

button:hover {
  opacity: 0.7;
  cursor: pointer;
  background-color: $primary;
}
.title-container {
  @include flex__position-center(row);
  width: 100%;
  background-color: $secondary;
  margin-bottom: 96px;
  height: 148px;
}
.title {
  @include Lato(24px, 400);
  color: $primary;
  width: 1140px;
}
.cart-container {
  display: flex;
  gap: 128px;
  row-gap: 72px;
  flex-wrap: wrap;
  width: 1140px;
  margin-bottom: 122px;
}
.span-text {
  @include Lato(16px, 300);
}
.product-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.product {
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background-color: $main-background;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 306px;
  width: 652px;
  &-img {
    width: 262px;
    height: 306px;
  }
  &-about {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }
  &-title {
    @include Lato(24px, 400);
    width: 193px;
    text-decoration: none;
    color: $card-font-main;
    margin-bottom: 42px;
    margin-top: 22px;
  }
  &-description {
    @include Lato(22px, 400);
    color: $card-font-main;
  }

  &-price-amount {
    @include Lato(22px, 400);
    color: $card-font-price;
  }
  &-price-amount::before {
    @include Lato(22px, 400);
    content: '$';
  }
  .delete-product {
    position: fixed;
    right: 22px;
    top: 28px;
  }
}
.product-quantity {
  @include Lato(18px, 400);
  width: 44px;
  border: 1px solid #a4a4a4;
  text-align: center;
}
.purchase {
  @include flex__position-center(column);
  justify-content: flex-start;
  gap: 57px;
  &-form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 360px;
    height: 272px;
  }
  .input-text {
    @include Lato(13px, 400);
    display: flex;
    align-items: flex-start;
    height: 45px;
    padding: 13px 0px 16px 18px;
    border: 1px solid #a4a4a4;
  }
  &-total {
    @include flex__position-center(column);
    background-color: #f5f3f3;
    align-items: flex-end;
    align-self: flex-end;
    width: 360px;
    height: 214px;
  }
  .sub-total {
    margin-right: 34px;
    &__amount {
      @include Lato(14px, 400);
    }
  }
  .grand-total {
    display: flex;
    justify-content: flex-end;
    width: 275px;

    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 21px;
    margin-top: 12px;
    margin-right: 37px;
    &__amount {
      color: $primary;
      @include Lato(16px, 700);
    }
  }
  .sub-total::before {
    @include Lato(14px, 400);
    margin-right: 2rem;
    content: 'SUB TOTAL';
  }

  .sub-total__amount::before {
    content: '$';
  }
  .grand-total__amount::before {
    content: '$';
  }
  .grand-total::before {
    margin-right: 2rem;
    @include Lato(16px, 300);
    color: black;
    content: 'GRAND TOTAL';
  }
  &-button {
    @include Lato(11px, 300);
    padding: 10px 0px;
    width: 100px;
    height: 35px;
    border: 1px solid #a4a4a4;
  }
  .proceed {
    width: 273px;
    height: 50px;
    @include Lato(16px, 300);
    background-color: $primary;
    color: #fff;
    margin-top: 17px;
    margin-right: 43px;
  }
}
.clear-button,
.continue-button {
  @include Lato(14px, 300);
  width: 235px;
  height: 50px;
  border: 1px solid #a4a4a4;
}

@import '../../css.modules/item/item.scss';
@import '../../css.modules/footer/footer.scss';
