html {
  display: flex;
  overflow-x: hidden;
}

a:visited {
  color: #000;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

a {
  display: inline-block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.side-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 232px;
  height: 639px;
  z-index: 99;
  position: fixed;
  top: 75px;
  justify-self: end;
  align-items: flex-start;
  background-color: #fff;
  padding-bottom: 32px;
}

.side-menu__close-button {
  margin: 16px 16px 16px 203px;
}

.side-menu__title {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 4px 34px;
}

.side-menu__subtitle {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f16d7f;
  margin: 20px 117px 0px 33px;
}

.side-menu__subtitle__category {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #6f6e6e;
  margin: 12px 0px 0px 55px;
  text-decoration: none;
}

header {
  display: grid;
  justify-content: normal;
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #000;
  height: 75px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  width: 1140px;
  max-width: 1140px;
}

.logo {
  margin-left: 32px;
  display: inline-block;
  height: 38px;
  width: 44px;
}

.search-button {
  height: 27px;
  width: 26px;
  margin-left: 85px;
}

.check-menu {
  background-color: transparent;
  height: 23px;
  width: 32px;
  margin-right: 25px;
  background-size: cover;
}

#toggle:checked ~ .info-ad {
  background-color: aqua;
}

.user-page {
  margin-left: 25px;
  height: 29px;
  width: 29px;
}

.cart-page {
  margin-left: 42px;
  margin-right: 41px;
  height: 29px;
  width: 32px;
}

.quick-sale {
  max-width: 1140px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  background-color: #f8f8f8;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  height: 420px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-color: #f8f8f8;
}

.add-to-cart {
  display: none;
  justify-self: center;
}

.card-img:hover {
  background-color: rgba(58, 56, 56, 0.86);
  background-blend-mode: overlay;
}

.card-img:hover .add-to-cart {
  display: block;
}

.card-title {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 24px 16px 16px 16px;
  color: #000;
  font-size: 13px;
}

.card-description {
  margin: 0px 16px 16px 16px;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-price {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 16px 24px 16px;
  color: #f16d7f;
}

.footer-offers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 341px;
  background-color: #000;
}

.offer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  gap: 16px;
}

.footer-offer-span-title {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
  text-decoration: none;
}

.footer-offer-span-description {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 360px;
  color: #fbfbfb;
  text-align: center;
}

.footer-contacts {
  height: 79px;
  background-color: #000;
}

.bg-img {
  overflow-x: hidden;
  z-index: -1;
  position: absolute;
  opacity: 0.7;
  width: 100%;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 223px;
  height: 448px;
  background-size: cover;
}

.subscribe-rating-span {
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 360px;
  color: #000;
  text-align: center;
}

.subscribe-rating,
.subscribe-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscribe-field-title {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  text-align: center;
  line-height: 167.2%; /* 40.128px */
}

.subscribe-field-description {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  line-height: 167.2%;
}

.subscribe-field-form {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #e1e1e1;
  display: flex;
  border-radius: 24px;
  margin-top: 32px;
  width: 256px;
  height: 49px;
}

.subscribe-field-form > input {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  padding-left: 22px;
}

.subscribe-field-button {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: center;
  width: 100px;
  background-color: #f16d7f;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.contact-link {
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 79px;
  gap: 655px;
}

.rigths {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
}

.contacts-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 764px;
  background-color: #f1e4e6;
}

.info-ad > img {
  max-height: 764px;
}

.info-ad > span {
  padding-left: 16px;
  border-left: 12px solid #f16d7f;
}

span > h1 {
  color: #000;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

span > h2 {
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}

.threads {
  margin-top: 65px;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.threads-item-img,
.down-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: overlay;
  width: 360px;
  height: 260px;
  text-decoration: none;
}

.down-one {
  width: 1140px;
  height: 180px;
}

.threads-item-title {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-align: center;
}

.threads-item-description {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #f16d7f;
}

.fetured {
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 96px;
  color: #000;
}

.fetured-describe {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  color: #9f9f9f;
}

.catalog-link {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 48px;
  margin-bottom: 60px;
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  color: #f26376;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */