html {
  display: flex;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

a {
  display: inline-block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #222;
  height: 75px;
  justify-content: space-between;
}

.logo {
  margin-left: 32px;
  display: inline-block;
  height: 38px;
  width: 44px;
  background-image: url(./img/logo.png);
}

.search-button {
  height: 27px;
  width: 26px;
  margin-left: 85px;
  background-image: url(./img/search-icon.svg);
}

.burger {
  background-color: transparent;
  height: 23px;
  width: 32px;
  background-image: url(./img/burger.png);
  background-size: cover;
}

.user-page {
  margin-left: 25px;
  height: 29px;
  width: 29px;
  background-image: url(./img/user.png);
}

.cart-page {
  margin-left: 42px;
  margin-right: 41px;
  height: 29px;
  width: 32px;
  background-image: url(./img/cart.png);
}

/* next one */
.info-ad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 764px;
  background-color: #f1e4e6;
}

.info-ad > img {
  max-height: 764px;
}

.info-ad > span {
  padding-left: 16px;
  border-left: 12px solid #f16d7f;
}

span > h1 {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

span > h2 {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #222;
  font-size: 32px;
}

.threads {
  margin-top: 65px;
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.threads-item-img,
.down-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(33, 22, 22, 0.7);
  background-blend-mode: overlay;
  width: 360px;
  height: 260px;
  text-decoration: none;
}

.down-one {
  width: 1140px;
  height: 180px;
}

.threads-item-title {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.threads-item-description {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #f16d7f;
}

.fetured {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 96px;
  color: #222;
  font-size: 30px;
}

.fetured-describe {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  color: #9f9f9f;
  font-size: 14px;
}

.quick-sale {
  max-width: 1140px;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.quick-sale-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  background-color: #f8f8f8;
}

.quick-sale-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 360px;
  height: 420px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-color: #f8f8f8;
}

.add-to-cart {
  display: none;
  justify-self: center;
}

.quick-sale-item-img:hover {
  background-color: rgba(58, 56, 56, 0.86);
  background-blend-mode: overlay;
}

.quick-sale-item-img:hover .add-to-cart {
  display: block;
}

.quick-sale-item-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 24px 16px 16px 16px;
  color: #000;
  font-size: 13px;
}

.quick-sale-item-description {
  margin: 0px 16px 16px 16px;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.quick-sale-item-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 16px 24px 16px;
  color: #f16d7f;
  font-size: 16px;
}

.catalog-link {
  margin-top: 48px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  /* fonts */
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f26376;
  font-size: 16px;
  text-decoration: none;
}

@media (max-width: 1025px) {
  .threads-item-img {
    width: 318px;
  }
  .down-one {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  html {
    overflow-x: hidden;
  }
  header {
    width: 100%;
  }
  .info-ad {
    height: 384px;
    width: 100%;
  }
  .info-ad > img {
    width: 250px;
  }
  .threads {
    margin: 20px 0px 0px;
    margin-top: 20px;
    justify-content: space-around;
  }
  .threads-item-img {
    width: 340px;
  }
  .down-one {
    width: 360px;
    height: 260px;
    background-size: cover;
  }
  .quick-sale {
    gap: 10px;
    justify-content: space-around;
  }
  .quick-sale-item,
  .quick-sale-item-img {
    width: 350px;
  }
  .fetured {
    margin-top: 20px;
  }
}
.footer-offers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 341px;
  background-color: black;
}

.offer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  gap: 16px;
}

.footer-offer-span-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
  font-size: 19.96px;
  text-decoration: none;
}

.footer-offer-span-description {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  width: 360px;
  color: #fbfbfb;
  text-align: center;
}

.footer-contacts {
  height: 79px;
  background-color: #222224;
}

.bg-img {
  overflow-x: hidden;
  z-index: -1;
  position: absolute;
  opacity: 0.7;
  width: 100%;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 223px;
  height: 448px;
  background-size: cover;
}

.subscribe-rating-span {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 20px;
  width: 360px;
  color: #222224;
  text-align: center;
}

.subscribe-rating,
.subscribe-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subscribe-field-title {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #222224;
  text-align: center;
  line-height: 167.2%; /* 40.128px */
}

.subscribe-field-description {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  line-height: 167.2%;
}

.subscribe-field-form {
  background-color: #e1e1e1;
  display: flex;
  border-radius: 24px;
  margin-top: 32px;
  width: 256px;
  height: 49px;
}

.subscribe-field-form > input {
  background-color: transparent;
  border: none;
  padding-left: 22px;
}

.subscribe-field-button {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: center;
  font-size: 14px;
  width: 100px;
  background-color: #f16d7f;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.contact-link {
  width: 31.451px;
  height: 32px;
  background-color: #fff;
}

.footer-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 79px;
  gap: 655px;
}

.rigths {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
}

.contacts-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 426px) {
  header {
    width: 100%;
    justify-content: space-around;
  }
  .logo {
    margin-left: 16px;
  }
  .burger {
    margin-right: 16px;
  }
  .search-button {
    margin-left: 41px;
  }
  .user-page {
    display: none;
  }
  .cart-page {
    display: none;
  }
  .info-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 363px;
  }
  span > h1 {
    color: #222;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  span > h2 {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #222;
    font-size: 20px;
  }
  .info-ad > span {
    padding-left: 15px;
  }
  .info-ad > img {
    display: none;
  }
  .threads {
    margin-top: 64px;
  }
  .threads-item-img {
    width: 343px;
    height: 247px;
  }
  .down-one {
    width: 343px;
    height: 111px;
    background-position: center;
  }
  .fetured {
    margin-top: 64px;
  }
  .quick-sale {
    margin-top: 64px;
  }
  .subscribe {
    margin-top: 100px;
    flex-direction: column;
  }
  .footer-offer-span-description {
    width: 360px;
  }
  .footer-offers {
    height: 400px;
    flex-direction: column;
  }
  .subscribe-rating-span {
    width: 40%;
  }
  input {
    margin-top: 50px;
  }
}
.top-navigation {
  height: 148px;
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-name {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f16d7f;
  font-size: 24px;
  width: 194px;
} 
.breadcrumbs {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  color: #6f6e6e;
  font-size: 14px;
}

.breadcrumbs > a {
  text-decoration: none;
}

.breadcrumbs_link:not(:last-child)::after {
  content: "/";
}

.filter {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 1140px;
  align-items: start;
  height: 1rem;
  color: #6f6e6e;
  font-size: 14px;
  padding-top: 39px;
}

.filter__button-abc {
  margin-right: 320px;
  font-weight: 600;
  color: #6f6e6e;
}

.filter-button > svg {
  fill: #6f6e6e;
}

.filter [open] {
  margin-right: 0px;
  width: 360px;
  position: relative;
  z-index: 3;
  background-color: #fff;
  padding: 17px;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
}
.filter [open] .filter-button {
  color: #ef5b70;
}
.filter [open] .filter-button > svg {
  fill: #ef5b70;
}

.filter-button {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #6f6e6e;
  font-weight: 600;
  cursor: pointer;
}

.filter-button::marker {
  content: "";
}

.secondary-category {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #6f6e6e;
  margin: 11px 0px 11px 17px;
}

.main-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: flex-start;
  padding-left: 11px;
  height: 37px;
  color: #ef5b70;
  padding-left: 11px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  margin-top: 24px;
}

.filter__category {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  margin-right: 28px;
  cursor: pointer;
}

.filter-parametr [open] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filter__category--element::marker {
  content: "";
}

.filter__category--element::after {
  content: url("./img/Vector.svg");
  margin-left: 10px;
}

.filter__category:hover {
  color: #ef5b70;
}

.filter__category > img {
  margin-left: 10px;
}

.filter-parametr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.filter-parametr::marker {
  content: "";
}

.filter__category__rigth {
  cursor: pointer;
  margin-right: 28px;
}

.filter-parametr [open] {
  background-color: #fff;
  position: relative;
  z-index: 3;
  width: -moz-max-content;
  width: max-content;
  padding: 9px;
}

.filter-parametr:first-child {
  background-color: transparent;
}

.navigation-section {
  margin-top: 48px;
  margin-bottom: 96px;
  text-align: center;
  border: 1px solid #e6e6e6;
}

.custom-navigation {
  width: auto;
  max-width: none;
  display: inline-block;
  border-radius: 0.25em;
  align-items: center;
}

.nav-number {
  padding: 15px 0px 15px 0px;
  width: 43px;
  color: #c4c4c4;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  marker-start: none;
  margin: 0;
  float: left;
}/*# sourceMappingURL=style.css.map */