@import '../../../css.modules/modificator.scss';
@import '../../../css.modules/main-colors.scss';
@import '../../../css.modules/fonts.scss';

@media (max-width: 426px) {
  .meta-header {
    width: 100%;
    justify-content: space-around;
    position: relative;
  }
  .header-container {
    width: 200%;
  }
  .logo {
    margin-left: 16px;
  }
  .burger {
    margin-right: 16px;
  }
  .search-button {
    margin-left: 41px;
  }
  .user-page {
    display: none;
  }
  .cart-page {
    display: none;
  }
  .info-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 363px;
  }
  span > h1 {
    @include Lato(38px, 900);
    color: $secondary;
  }
  span > h2 {
    @include Lato(20px, 700);
    color: $secondary-background;
  }
  .info-ad > span {
    padding-left: 15px;
  }
  .info-ad > img {
    display: none;
  }
  .threads {
    margin-top: 64px;
  }
  .threads-item-img {
    width: 343px;
    height: 247px;
  }
  .down-one {
    width: 343px;
    height: 111px;
    background-position: center;
  }
  .fetured {
    margin-top: 64px;
  }
  .quick-sale {
    margin-top: 64px;
  }
  .subscribe {
    margin-top: 100px;
    flex-direction: column;
    gap: 5px;
    background-color: $secondary;
  }
  .footer-offer-span-description {
    width: 360px;
  }
  .footer-offers {
    height: 400px;
    flex-direction: column;
  }
  .subscribe-rating-span {
    width: 40%;
  }
  input {
    margin-top: 50px;
  }
  .footer-contacts {
    gap: 5px;
    flex-direction: column;
  }
  .subscribe-field-form {
    margin: 0px;
  }
}
