@import '../../../css.modules/modificator';
@import '../../../css.modules/main-colors.scss';
@import '../../../css.modules/fonts.scss';

@media (width <= 1025px) {
  .threads-item-img {
    width: 318px;
  }
  .down-one {
    width: 100%;
  }
  html {
    overflow-x: hidden;
  }
  header {
    width: 100%;
  }
  .info-ad {
    height: 384px;
    width: 100%;
  }
  .info-ad > img {
    width: 250px;
  }
  .threads {
    margin: 20px 0px 0px;
    margin-top: 20px;
    justify-content: space-around;
  }
  .threads-item-img {
    width: 340px;
  }
  .down-one {
    width: 360px;
    height: 260px;
    background-size: cover;
  }
  .quick-sale {
    gap: 10px;
    justify-content: space-around;
  }
  .quick-sale-item,
  .quick-sale-item-img {
    width: 350px;
  }
  .fetured {
    margin-top: 20px;
  }
  .footer-offers {
    flex-wrap: wrap;
  }
  .form {
    margin-bottom: 112px;
  }
  footer {
    @include flex__position-center(column);
  }
  .subscribe {
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    overflow: hidden;
    padding-top: 64px;
    position: relative;
  }
  .bg-img {
    min-height: 100%;
  }
  .footer-contacts {
    width: 100%;
    gap: 0px;
    justify-content: space-evenly;
  }
  .footer-offers {
    padding: 20px 0px;
    gap: 20px;
    height: fit-content;
  }
  .cart-container {
    position: relative;
    padding-bottom: 576px;
  }
  .purchase {
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 8px;
    gap: 16px;
  }
  .button-container {
    position: absolute;
    bottom: 464px;
  }
}
