@import 'modificator';
@import 'main-colors';
@import 'side-menu';
header {
  display: grid;
  justify-content: normal;
  top: 0px;
  z-index: 99;
  width: 100%;
  background-color: $secondary-background;
  height: 75px;
}
.header-container {
  width: 100%;
  @include flex__position-center(row);
  justify-self: center;
  justify-content: space-between;
  max-width: 1140px;
}
.logo {
  margin-left: 32px;
  display: inline-block;
  height: 38px;
  width: 44px;
}
.title-container {
  padding-left: 16px;
}
.search-button {
  height: 27px;
  width: 26px;
  margin-left: 85px;
}
.burger-img {
  cursor: pointer;
}
.check-menu {
  display: none;
  background-color: transparent;
  height: 23px;
  width: 32px;
  margin-right: 25px;
  background-size: cover;
}
#toggle:not(:checked) ~ .side-menu {
  animation-duration: 1s;
  animation-name: slide-out;
  animation-fill-mode: forwards;
}
#toggle:checked ~ .side-menu {
  animation: slide-in 1s;
  animation-fill-mode: forwards;
}
@keyframes slide-in {
  0% {
    display: none;
    right: -232px;
  }
  100% {
    display: flex;
    right: 0;
  }
}
@keyframes slide-out {
  0% {
    display: flex;
    right: 0;
  }
  100% {
    display: none;
    right: -232px;
  }
}

.user-page {
  margin-left: 25px;
  height: 29px;
  width: 29px;
}

.cart-page {
  margin-left: 42px;
  margin-right: 41px;
  height: 29px;
  width: 32px;
}
