@import './_modificator.scss';
@import './main-colors';
@import './_fonts.scss';
.quick-sale {
  max-width: 1140px;
  margin-top: 48px;
  @include flex__position-center(row);
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  @include flex__position-center(column);
  align-items: flex-start;
  width: 360px;
  background-color: $card-image-background;
  
}

.card-img {
  @include flex__position-center(column);
  width: 360px;
  height: 420px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-color: #f8f8f8;
}
.add-to-cart {
  display: none;
  justify-self: center;
}
.card-img:hover {
  background-color: rgba(58, 56, 56, 0.86);
  background-blend-mode: overlay;
}

.card-img:hover .add-to-cart {
  display: block;
}

.card-title {
  @include Lato(13px, 400);
  margin: 24px 16px 16px 16px;
  color: #000;
  font-size: 13px;
}

.card-description {
  margin: 0px 16px 16px 16px;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-price {
  @include Lato(16px, 400);
  margin: 0px 16px 24px 16px;
  color: #f16d7f;
}
