$primary: #f16d7f;
$secondary: #f8f3f4;
$main-background: #fff;
$secondary-background: #000;
$filter-main: #6f6e6e;
$filter-secondary: #ef5b70;
// CARD
$card-background: #f8f8f8;
$card-image-background: #f3eded;
//BENEFITS
$benefit-title: #fbfbfb;
//PAGINATION
$pagination-section: #e6e6e6;
$pagination-number: #c4c4c4;
//CARD
$card-font-main: #575757;
$card-font-price: #ef5b70;

//PRODUCT
$text-color-primary :#4d4d4d;
$text-color-secondary:#5e5e5e;