@import '../css.modules/_modificator.scss';
@import '../css.modules/_main-colors.scss';
html {
  display: flex;
  overflow-x: hidden;
}
a:visited {
  color: $secondary-background;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  @include flex__position-center(column);
  width: 100%;
}

a {
  display: inline-block;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
